* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
}

/************* Base para mobile *************/

/* Navbar */

.navbar {
  border-bottom: 1px solid #ccc;
  background-color: white;
  padding: 0px;
}

.navbar .tamanio {
  width: 200px;
  margin: auto;
}

.navbar .nav-botones {
  color: black;
  display: flex;
  gap: 10px;
}

.navbar .nav-suscribirse {
  background-color: #e11d48;
  color: #fff;
  border-radius: 5px;
  gap: 10px;
  &:hover {
    background-color: #f02853;
    color: #fff;
    border-radius: 5px;
  }
}

.navbar .espacio-items {
  margin-left: 5px;
}

.navbar .activo1 {
  background-color: #1e293b;
  color: #fff;
  border-radius: 5px;
}

.navbar .activo-mobile {
  color: #e11d48;
}

/************* Pagina principal - Slider *************/

.carousel-inner .carousel-item {
  height: 100vh;
  position: relative;
  & img {
    height: 100%;
    object-fit: cover;
  }
}

  .overlay-hero {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(14, 13, 68, 0.541);
    z-index: 1;

    & h1 {
      font-size: 2.5rem;
    }

    & p {
      font-size: 1.25rem;
    }
    & .span-badge {
      font-size: 14px;
    }
  }


/************ Breakpoint: Desktop *************/

@media (min-width: 992px) {

  /* Navbar */

  .navbar .activo1 {
    background-color: white;
    color: black;
  }

  .navbar .activo {
    background-color: #1e293b;
    color: #fff;
    border-radius: 5px;
  }

  .navbar .nav-botones {
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: #1e293b;
      color: #fff;
      border-radius: 5px;
    }
  }

  .navbar .tamanio {
    width: 250px;
    padding-bottom: 10px;
  }

  .navbar img {
    width: auto;
    object-fit: cover;
  }
}


/* Iniciar Sesión / PARTE CSS DE SAMIR*/
@media (max-width: 992px) {
  html,
  body {
    height: 100%;
    margin: 0;
  }

  main .btn-iniciar-sesion {
    background-color: #e11d48;
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
}
